/********** fonts */
@font-face {
    font-family: remachine;
    src: url(../assets/fonts/RemachineScript_Personal_Use.ttf);
}

* {
    font-family: 'Poppins', sans-serif;
}
  

/********* scrollbar ***/

*::-webkit-scrollbar{
    width: 16px;
}

*::-webkit-scrollbar-thumb{
    background-color:#EA580C;
    border-radius: 10px;
    border: 2px solid white;
}

*::-webkit-scrollbar-thumb:active{
    background-color:#f47734;
}

*::-webkit-scrollbar-track{
    background: white;
}

@media (max-width: 1024px) {
    ::-webkit-scrollbar { display: none; }
}



/************* my signature*/

.build-with{
    color: #101E33;
    font-size: 15px;
    font-weight: 600;
}

.made-jopay{
    font-family: remachine;
    font-size: 25px;
    color: #b84a0a;
}