/********** fonts */
@font-face {
    font-family: remachine;
    src: url(../assets/fonts/RemachineScript_Personal_Use.ttf);
}

@font-face {
    font-family: julietta-messie;
    src: url(../assets/fonts/Julietta-Messie.otf);
}

* {
    font-family: 'Poppins', sans-serif;
}
  

/********* scrollbar ***/

*::-webkit-scrollbar{
    width: 16px;
}

*::-webkit-scrollbar-thumb{
    background-color:#F083BF;
    border-radius: 10px;
    border: 2px solid white;
}

*::-webkit-scrollbar-thumb:active{
    background-color: #F7D1E0;
}

*::-webkit-scrollbar-track{
    background: white;
}

@media (max-width: 1024px) {
    ::-webkit-scrollbar { display: none; }
}

/* mobile button shadow */

.mobile-menu-button {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px 0px inset;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset; */
    
}


/************* our signature*/

.build-with{
    color: #101E33;
    font-size: 15px;
    font-weight: 600;
}

.made-jopay{
    font-family: remachine;
    font-size: 25px;
    color: #E94560;
}

.made-lasolci{
    font-family: julietta-messie;
    font-size: 25px;
    color: #cf266c;
}

/* color solci  #F083BF